body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: 600;
    height: 70px;
    width: 300px;
    background-color: rgb(105, 102, 102);
    border-radius: 25px;
    box-shadow: 0px 2px 2px 2px rgb(155, 153, 153);
}
.name {
    color: blue;
    font-size: 26px;
    font-weight: 400;
    font-family: "Montserrat";
}
.todo {
    color: rgb(0, 0, 0);
    font-family: "Montserrat";
    font-size: 20px;
}
.check {
    height: 20px;
    width: 20px;
    margin-right: 15px;
}
.todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
    background-color: rgb(212, 218, 233);
    border-radius: 15px;
    padding-left: 10px;
    width: 100%;
    box-shadow: 2px 2px 2px 2px gray;
}

